{% extends 'explorador/main.html' %}
{% load static %}
{% block content %}



<div class="row">
    <div class="col-md-7">
        <h5>Datos de producción</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_qr' qr.serialnum %}"> Editar este QR </a>
            <table class="table table-sm">
                <tr>
                    <th>Campo</th>
                    <th>Valor</th>
                </tr>

                {% for i in qr_dict %}
                    {% for j,h in i.items %}
                    <tr>                
                        <td>{{j}}</td>
                        <td>{{h}}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                    
                
            </table>
        </div>
    </div>

    <div class="col-md-5">
        <h5>Datos de usuario</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href=""> Editar este QR </a>
            <table class="table table-sm">
                <tr>
                    <th>Editor</th>
                    <th>Fecha</th>
                </tr>
                {%for carga in cargas%}
                    <tr>
                        <td>{{carga.author}}</td>
                        <td>{{carga.date_created}}</td>
                        <td><a class="btn btn-sm btn-info" href="">Ver</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}